
      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">


            <div class="limiter">
              <div class="container-login100">
                <div class="wrap-login100 p-l-85 p-r-85 p-t-25 p-b-25">
                  <form action="/dashboard" method="GET" class="login100-form validate-form flex-sb flex-w">
                    <input type="hidden" name="_token" value="X45J719l4v8sYkEtfUPqLSEHocHFQDwX2MChFpYR">
                    <span class="login100-form-title p-b-32">
                      Doctor Login
                    </span>

                    <span class="txt1 p-b-11">
                      Username
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                      <input class="input100" type="email" name="email">
                      <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                      Password
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                      <span class="btn-show-pass">
                        <i class="fa fa-eye"></i>
                      </span>
                      <input class="input100" type="password" name="password">
                      <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                      <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                          Remember me
                        </label>
                      </div>

                      <div>
                        <a class="btn btn-link txt3" href="http://127.0.0.1:8000/forgot-password" >
                          Forgot Your Password?
                        </a>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn" routeLink='/dashboard'>
                        Login
                      </button>
                    </div>

                  </form>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <router-outlet></router-outlet>
     