  <div class="nk-sidebar nk-sidebar-fixed is-dark" data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="/dashboard" class="logo-link nk-sidebar-logo">
                            <h3 style="color:#9dcb2a; "><span style="color:#46d2f2; ">Bio</span>Care</h3>
                         <!--    <img class="logo-light logo-img" src="images/logo.png" srcset="images/logo2x.png 2x" alt="logo">
                            <img class="logo-dark logo-img" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="logo-dark">
                            <span class="nio-version">Business Hub</span> -->
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-item">
                                    <a href='/dashboard' class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-template"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                 <li class="nk-menu-item">
                                    <a href='/appointments/list' class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-calendar-alt"></em></span>

                                        <span class="nk-menu-text">Appointments</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                 <li class="nk-menu-item">
                                    <a href='/patients/list' class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                                        <span class="nk-menu-text">Patients</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                 <li class="nk-menu-item">
                                    <a  class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-article"></em></span>
                                        <span class="nk-menu-text">Documents</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                 <li class="nk-menu-item">
                                    <a  class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-setting-alt"></em></span>
                                        <span class="nk-menu-text">Settings</span>
                                    </a>
                                </li><!-- .nk-menu-item -->


                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
            </div>