   <router-outlet></router-outlet>
   <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->

        



        <app-appmenu></app-appmenu>

        <div class="nk-wrap ">
            <app-appheader></app-appheader>

            


            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Overview</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>Welcome to BioCare Platform.</p>
                                       </div>
                                  </div><!-- .nk-block-head-content -->
                                  <div class="nk-block-head-content">
                                   <div class="toggle-wrap nk-block-tools-toggle">
                                       <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                       <div class="toggle-expand-content" data-content="pageMenu">
                                           <ul class="nk-block-tools g-3">
                                               <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                                               <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-reports"></em><span>Reports</span></a></li>
                                               <li class="nk-block-tools-opt">
                                                   <div class="drodown">
                                                       <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                       <div class="dropdown-menu dropdown-menu-right">
                                                           <ul class="link-list-opt no-bdr">
                                                               <li><a href="#"><em class="icon ni ni-user-add-fill"></em><span>Add Patient</span></a></li>
                                                               <li><a href="#"><em class="icon ni ni-coin-alt-fill"></em><span>Create Appointment</span></a></li>
                                                               <!--    <li><a href="#"><em class="icon ni ni-note-add-fill-c"></em><span>Add Page</span></a></li> -->
                                                          </ul>
                                                     </div>
                                                </div>
                                           </li>
                                      </ul>
                                 </div>
                            </div>
                       </div><!-- .nk-block-head-content -->
                  </div><!-- .nk-block-between -->
             </div><!-- .nk-block-head -->
             <div class="col-lg-12">
                 <div class="nk-block nk-block-lg">
                                <!--         <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h4 class="nk-block-title">Today's Appointments</h4>

                                            </div>
                                       </div> -->
                                       <div class="card card-bordered card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">Today's Appointments</h6>
                                                        <!--    <h6 class="title"><span class="mr-2">Patient's</span> <a href="#" class="link d-none d-sm-inline">See History</a></h6> -->
                                                   </div>
                                                   <div class="card-tools">
                                                        <ul class="card-tools-nav">
                                                            <li><a href="#"><span>Confirm</span></a></li>
                                                            <li><a href="#"><span>Canceled</span></a></li>
                                                            <li class="active"><a href="#"><span>All</span></a></li>

                                                       </ul>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="card-inner p-0 border-top">
                                           <div class="nk-tb-list nk-tb-orders">
                                               <div class="nk-tb-item nk-tb-head">
                                                   <div class="nk-tb-col"><span>Patient No.</span></div>
                                                   <div class="nk-tb-col tb-col-sm"><span>Patient Name</span></div>
                                                   <div class="nk-tb-col tb-col-md"><span>Date</span></div>
                                                   <div class="nk-tb-col tb-col-lg"><span>Time</span></div>
                                                   <div class="nk-tb-col"><span>disease</span></div>
                                                   <div class="nk-tb-col"><span class="d-none d-sm-inline">Status</span></div>
                                                   <div class="nk-tb-col"><span>&nbsp;</span></div>
                                              </div>
                                              <div class="nk-tb-item">
                                                   <div class="nk-tb-col">
                                                       <span class="tb-lead"><a href="#">#95954</a></span>
                                                  </div>
                                                  <div class="nk-tb-col tb-col-sm">
                                                       <div class="user-card">
                                                           <div class="user-avatar user-avatar-sm bg-purple">
                                                               <span>AB</span>
                                                          </div>
                                                          <div class="user-name">
                                                               <span class="tb-lead">Abu Bin Ishtiyak</span>
                                                          </div>
                                                     </div>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                  <span class="tb-sub">02/11/2020</span>
                                             </div>
                                             <div class="nk-tb-col tb-col-lg">
                                                  <span class="tb-sub text-primary">10:00 am</span>
                                             </div>
                                             <div class="nk-tb-col">
                                                  <span class="tb-sub tb-amount">Corona</span>
                                             </div>
                                             <div class="nk-tb-col">
                                                  <span class="badge badge-dot badge-dot-xs badge-success">Confirm</span>
                                             </div>
                                             <div class="nk-tb-col nk-tb-col-action">
                                                  <div class="dropdown">
                                                      <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                                          <ul class="link-list-plain">
                                                              <li><a href="#">View</a></li>
                                                                            <!-- <li><a href="#">Invoice</a></li>
                                                                            	<li><a href="#">Print</a></li> -->
                                                                            </ul>
                                                                       </div>
                                                                  </div>
                                                             </div>
                                                        </div>
                                                        <div class="nk-tb-item">
                                                           <div class="nk-tb-col">
                                                               <span class="tb-lead"><a href="#">#95850</a></span>
                                                          </div>
                                                          <div class="nk-tb-col tb-col-sm">
                                                               <div class="user-card">
                                                                   <div class="user-avatar user-avatar-sm bg-azure">
                                                                       <span>DE</span>
                                                                  </div>
                                                                  <div class="user-name">
                                                                       <span class="tb-lead">Desiree Edwards</span>
                                                                  </div>
                                                             </div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                          <span class="tb-sub">02/02/2020</span>
                                                     </div>
                                                     <div class="nk-tb-col tb-col-lg">
                                                          <span class="tb-sub text-primary">10:00 am</span>
                                                     </div>
                                                     <div class="nk-tb-col">
                                                          <span class="tb-sub tb-amount">Corona</span>
                                                     </div>
                                                     <div class="nk-tb-col">
                                                          <span class="badge badge-dot badge-dot-xs badge-danger">Canceled</span>
                                                     </div>
                                                     <div class="nk-tb-col nk-tb-col-action">
                                                          <div class="dropdown">
                                                              <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                                                  <ul class="link-list-plain">
                                                                      <li><a href="#">View</a></li>
                                                                      <li><a href="#">Remove</a></li>
                                                                 </ul>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="nk-tb-item">
                                                 <div class="nk-tb-col">
                                                     <span class="tb-lead"><a href="#">#95812</a></span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                     <div class="user-card">
                                                         <div class="user-avatar user-avatar-sm bg-warning">
                                                             <img src="./images/avatar/b-sm.jpg" alt="">
                                                        </div>
                                                        <div class="user-name">
                                                             <span class="tb-lead">Blanca Schultz</span>
                                                        </div>
                                                   </div>
                                              </div>
                                              <div class="nk-tb-col tb-col-md">
                                                <span class="tb-sub">02/01/2020</span>
                                           </div>
                                           <div class="nk-tb-col tb-col-lg">
                                                <span class="tb-sub text-primary">10:00 am</span>
                                           </div>
                                           <div class="nk-tb-col">
                                                <span class="tb-sub tb-amount">Corona</span>
                                           </div>
                                           <div class="nk-tb-col">
                                                <span class="badge badge-dot badge-dot-xs badge-success">Confirm</span>
                                           </div>
                                           <div class="nk-tb-col nk-tb-col-action">
                                                <div class="dropdown">
                                                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                                        <ul class="link-list-plain">
                                                            <li><a href="#">View</a></li>

                                                       </ul>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="nk-tb-item">
                                       <div class="nk-tb-col">
                                           <span class="tb-lead"><a href="#">#95256</a></span>
                                      </div>
                                      <div class="nk-tb-col tb-col-sm">
                                           <div class="user-card">
                                               <div class="user-avatar user-avatar-sm bg-purple">
                                                   <span>NL</span>
                                              </div>
                                              <div class="user-name">
                                                   <span class="tb-lead">Naomi Lawrence</span>
                                              </div>
                                         </div>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                      <span class="tb-sub">01/29/2020</span>
                                 </div>
                                 <div class="nk-tb-col tb-col-lg">
                                      <span class="tb-sub text-primary">10:00 am</span>
                                 </div>
                                 <div class="nk-tb-col">
                                      <span class="tb-sub tb-amount">Corona</span>
                                 </div>
                                 <div class="nk-tb-col">
                                      <span class="badge badge-dot badge-dot-xs badge-success">Confirm</span>
                                 </div>
                                 <div class="nk-tb-col nk-tb-col-action">
                                      <div class="dropdown">
                                          <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                              <ul class="link-list-plain">
                                                  <li><a href="#">View</a></li>
                                                                            <!-- <li><a href="#">Invoice</a></li>
                                                                            	<li><a href="#">Print</a></li> -->
                                                                            </ul>
                                                                       </div>
                                                                  </div>
                                                             </div>
                                                        </div>

                                                   </div>
                                              </div>
                                              <div class="card-inner-sm border-top text-center d-sm-none">
                                               <a href="#" class="btn btn-link btn-block">See History</a>
                                          </div>
                                     </div>

                                </div>
                           </div>
                           <div class="nk-block col-lg-12 mt-5 mb-5">
                             <div class="row g-gs">
                                 <div class="">
                                     <div class="card card-bordered h-100">
                                         <div class="card-inner">
                                             <div class="card-title-group align-start mb-3">
                                                 <div class="card-title">
                                                     <h6 class="title">Clinic Overview</h6>
                                                     <p>In last 15 days overview. <a href="#" class="link link-sm">Detailed Stats</a></p>
                                                </div>
                                                <div class="card-tools mt-n1 mr-n1">
                                                     <div class="drodown">
                                                         <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                         <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                             <ul class="link-list-opt no-bdr">
                                                                 <li><a href="#" class="active"><span>15 Days</span></a></li>
                                                                 <li><a href="#"><span>30 Days</span></a></li>
                                                                 <li><a href="#"><span>3 Months</span></a></li>
                                                            </ul>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div><!-- .card-title-group -->
                                        <div class="nk-order-ovwg">
                                            <div class="row g-4 align-end">
                                                <div class="col-xxl-8">
                                                    <div class="nk-order-ovwg-ck"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                                    <canvas class="order-overview-chart chartjs-render-monitor" id="orderOverview" style="display: block; width: 599px; height: 180px;" width="599" height="180"></canvas>
                                               </div>
                                          </div><!-- .col -->
                                          <div class="col-xxl-4">
                                           <div class="row g-4">
                                               <div class="col-sm-6 col-xxl-12">
                                                   <div class="nk-order-ovwg-data buy">
                                                       <div class="amount">12,954.63 <small class="currenct currency-usd">USD</small></div>
                                                       <div class="info">Last month <strong>39,485 <span class="currenct currency-usd">USD</span></strong></div>
                                                       <div class="title"><em class="icon ni ni-arrow-down-left"></em> Consultation Fee</div>
                                                  </div>
                                             </div>
                                             <div class="col-sm-6 col-xxl-12">
                                              <div class="nk-order-ovwg-data sell">
                                                  <div class="amount">12,954.63 <small class="currenct currency-usd">USD</small></div>
                                                  <div class="info">Last month <strong>39,485 <span class="currenct currency-usd">USD</span></strong></div>
                                                  <div class="title"><em class="icon ni ni-arrow-up-left"></em> Expense</div>
                                             </div>
                                        </div>
                                   </div>
                              </div><!-- .col -->
                         </div>
                    </div><!-- .nk-order-ovwg -->
               </div><!-- .card-inner -->
          </div><!-- .card -->
     </div><!-- .col -->
     <!-- .col -->

</div>
</div>

</div>
</div>
</div>
</div>





<app-appfooter></app-appfooter>
</div>
</div>
</div>